* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  border: 1px solid rgb(73, 72, 72);
  border-radius: 10%;
  width: 300px;
  height: 480px;
  margin: 20px;
  display: inline-block;
  overflow: hidden;
}

.screen {
  height: 110px;
  background-color: rgba(73 72 72 / 18%);
  text-align: right;
  padding: 50px 20px 10px;
  border-radius: 10% 10% 0 0;
}

.display {
  height: 60px;
  line-height: 45px;
  background-color: #83c76c;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  font-weight: 500;
  padding: 10px 7px;
  border-radius: 10%;
  font-weight: 530;
  overflow: hidden;
  vertical-align: bottom;
}

.buttons {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
  padding: 18px 17px;
  gap: 8px;
  border-radius: 0 0 10% 10%;
  background-color: rgba(73 72 72 / 18%);
}

button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 23px;
  font-weight: 500;
  border-radius: 10%;
  background-color: #cfc8c8;
  color: black;
}

.button:hover > .button::after {
  opacity: 0;
}
.number.zero {
  width: 128px;
}

.operation.delete,
.operation.percent,
.operation.squareroot {
  background-color: rgb(125 121 117 / 58%);
}

.operation.divide,
.operation.multiply,
.operation.subtract,
.operation.add,
.operation.equal {
  background-color: rgb(242 134 6 / 76%);
}
